=form_for @api_object, url: show_path do |f|
  =f.label :uid, "uID"
  %br
  =f.text_field :uid
  %br
  =f.label :uid, "pub0"
  %br
  =f.text_field :pub0
  %br
  =f.label :uid, "page"
  %br
  =f.text_field :page
  %br
  =f.submit "Go!"